<div class="auth-container">
    <h2>Kayıt Ol</h2>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <input type="text" placeholder="Ad" formControlName="firstName" name="firstName" required />
        <input type="text" placeholder="Soyad" formControlName="lastName" name="lastName" required />
        <input type="email" placeholder="E-posta" formControlName="email" name="email" required />
        <input type="password" placeholder="Şifre" formControlName="password" name="password" required />
        <button type="submit">Kayıt Ol</button>
        <a routerLink="/login" class="link">Zaten hesabım var</a>
    </form>
</div>